{:system-utils.version/read-from-disk   {:environment-id :prod}

 'VERSION_SYSTEM #ig/ref :system-utils.version/read-from-disk

 [:env/port :system-utils.env/edn-parsed-var]
 {:var :saku-port}
 
 'PORT #ig/ref :env/port

 [:env/db-url :system-utils.env/edn-parsed-var]
 {:var :saku-db-url}

 'DB_URL #ig/ref :env/db-url}
