{:system-utils.version/dynamic-gen  {:environment-id :local}

 'VERSION_SYSTEM #ig/ref :system-utils.version/dynamic-gen

 'PORT 8081

 'DB_RESET true

 'DB_CFG {:store {:backend :mem}
          :transactor {:rx-buffer-size 51200}}

 'HAIKU_TIMEOUT 2

 'QUESTIONS_TIMEOUT 2

 'NARRATIVE_IDEA_TIMEOUT 2

 'STREAM_ENGINE_OPTS {:engine-id :in-memory}}
