#kaocha/v1
{:tests [{:id :unit
          :test-paths  ["tests"]
          :ns-patterns [".*"]}

         {:id :unit-cljs
          :type :kaocha.type/cljs
          :source-paths ["src"]
          :test-paths  ["tests"]
          :ns-patterns [".*"]
          ;; :test-paths ["test"]
          ;; :cljs/timeout 10000                        ; 10 seconds, the default
          ;; :cljs/repl-env cljs.repl.node/repl-env     ; node is the default
          ;; :cljs/repl-env cljs.repl.browser/repl-env
          }]
 ;; :reporter kaocha.report.progress/report
 ;; :plugins [:kaocha.plugin/profiling :kaocha.plugin/notifier]
 }
