<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <!--        https://github.com/logfellow/logstash-logback-encoder -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <stackTrace>exception</stackTrace>
            </fieldNames>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JsonConsole"/>
    </root>
</configuration>
