[^{:datomic/tag true}
 default



 Tag
 [^{:type String
    :datomic/unique :db.unique/identity}
  id

  ^{:type TagSource}
  source

  ^{:type String}
  value

  ^{:type String
    :datomic/index true}
  user-id

  ^{:type ID
    :datomic/index true}
  story-uuid

  ^{:type String
    :datomic/index true}
  story-hash

  ^{:type Integer
    :datomic/index true}
  story-timestamp]



 ^{:enum true}
 TagSource
 [NLP_ANALYSIS GPT_KEYWORDS_V1]



 InspirationStageGroup
 [^{:type String
    :datomic/unique :db.unique/identity}
  id

  ^{:type Integer}
  latest-timestamp

  ^{:type String}
  handler-id

  ^{:type Integer}
  timeout-seconds]



 InspirationStage
 [^{:type InspirationStageState}
  group

  ^{:type String}
  payload]



 Inspiration
 [^{:type String
    :datomic/unique :db.unique/identity}
  id

  ^{:type String
    :datomic/index true}
  user-id

  ^{:type InspirationSource}
  source

  ^{:type String}
  input

  ^{:type String}
  payload

  ^{:type DateTime
    :datomic/index true}
  created-at

  ^{:type DateTime}
  updated-at

  ^{:type ID}
  recommended

  ^{:datomic/type :db.type/tuple
    :datomic/tupleAttrs [user-id input]
    :datomic/index true}
  user-id+input

  ^{:datomic/type :db.type/tuple
    :datomic/tupleAttrs [user-id created-at]
    :datomic/index true}
  user-id+created-at

  ^{:datomic/type :db.type/tuple
    :datomic/tupleAttrs [user-id recommended]
    :datomic/index true}
  user-id+recommended

  ]



 ^{:enum true}
 InspirationSource
 [GPT_HAIKU_V1 GPT_QUESTIONS_V1
  GPT_COMBINING_LIST_V1 GPT_NARRATIVE_IDEA_V1]


 ^{:enum true}
 IdeationFilterType
 [#_ALL GPT_COMPLETION_V1 GPT_IDEA_GENERATOR_V1]


 IdeationSession
 [^{:type ID
    :datomic/unique :db.unique/identity}
  uuid

  ^{:type String
    :datomic/index true}
  user-id

  ^{:type String}
  text-payload

  ^{:type IdeationFilterType}
  filter-type

  ^{:type Idea
    :cardinality [0 n]}
  ideas]



 Idea
 [^{:type ID
    :datomic/unique :db.unique/identity}
  uuid

  ^{:type String}
  payload

  ^{:type IdeaSource}
  source]


 ^{:enum true}
 IdeaSource
 [GPT_COMPLETION_V1 GPT_IDEA_GENERATOR_V1]



 

 ]
