[^{:lacinia/tag true}
 default

 ;; ------------------------------
 ;; Roots
 ;; ------------------------------

 ^{:lacinia/mutation true}
 MutationRoot
 [^{:type ResourcePolicyDocument
    :cardinality [0 n]}
  upsert-resource-policies [^{:type ResourcePolicyInputDocument
                              :cardinality [0 n]}
                            policies]

  ^{:type IdentityPolicyDocument
    :cardinality [0 n]}
  upsert-identity-policies [^{:type IdentityPolicyInputDocument
                              :cardinality [0 n]}
                            policies]

  ^{:type IdentityPolicyDocument
    :cardinality [0 n]}
  add-identity-statements [^{:type IdentityPolicyInputDocument}
                            input-policy]

  ^{:type ResourcePolicyDocument
    :cardinality [0 n]}
  add-resource-statements [^{:type ResourcePolicyInputDocument}
                           input-policy]

  ^{:type IdentityPolicyDocument
    :cardinality [0 n]}
  retract-statements [^{:type ID}
                      drn

                      ^{:type String
                        :cardinality [0 n]}
                      statement-ids]

  ^{:type ID
    :cardinality [0 n]}
  retract-policies [^{:type ID
                      :cardinality [0 n]}
                    drns]]


 ^{:lacinia/query true}
 QueryRoot
 [^{:type PolicyDocument
    :cardinality [0 n]}
  policies [^{:type ID
              :cardinality [0 n]}
            drns]

  ^{:type IdentityPolicyDocument
    :cardinality [0 n]}
  identity-policies [^{:type ID
                       :cardinality [0 n]}
                     drns]

  ^{:type ResourcePolicyDocument
    :cardinality [0 n]}
  resource-policies [^{:type ID
                       :cardinality [0 n]}
                     drns]

  ^{:type EvaluationResult}
  evaluate-one [^{:type ID}
                drn

                ^{:type ID
                  :cardinality [0 n]}
                identities

                ^{:type String}
                actionId]

  ^{:type EvaluationManyResult
    :cardinality [0 n]}
  evaluate-many [^{:type ID
                   :cardinality [0 n]}
                 drns

                 ^{:type ID
                   :cardinality [0 n]}
                 identities

                 ^{:type String}
                 actionId]

  ^{:type ServerMeta}
  server-meta]


 ;; ------------------------------
 ;; Mutation Types
 ;; ------------------------------

 ^{:lacinia/input true}
 ResourcePolicyInputDocument
 [^{:type ID}
  drn

  ^{:type ResourceInputStatement
    :cardinality [0 n]}
  statements]


 ^{:lacinia/input true}
 ResourceInputStatement
 [^{:type String
    :optional true}
  sid

  ^{:type String
    :cardinality [0 n]}
  actionIds

  ^{:type Effect}
  effect

  ^{:type ID
    :cardinality [0 n]}
  identities]


 ^{:lacinia/input true}
 IdentityInputStatement
 [^{:type String
    :optional true}
  sid

  ^{:type String
    :cardinality [0 n]}
  actionIds

  ^{:type Effect}
  effect

  ^{:type ID
    :cardinality [0 n]}
  resources]


 ^{:lacinia/input true}
 IdentityPolicyInputDocument
 [^{:type ID}
  drn

  ^{:type IdentityInputStatement
    :cardinality [0 n]}
  statements]
 
 ;; ------------------------------
 ;; Query Types
 ;; ------------------------------

 ^{:interface true}
 PolicyDocument
 [^{:type ID}
  drn]


 ^{:implements [PolicyDocument]}
 ResourcePolicyDocument
 [^{:type ID}
  drn

  ^{:type ResourceStatement
    :cardinality [0 n]}
  statements]


 ^{:implements PolicyDocument}
 IdentityPolicyDocument
 [^{:type ID}
  drn

  ^{:type IdentityStatement
    :cardinality [0 n]}
  statements]


 ^{:interface true}
 Statement
 [^{:type String
    :optional true}
  sid

  ^{:type String
    :cardinality [0 n]}
  actionIds

  ^{:type Effect}
  effect]


 ^{:implements [Statement]}
 ResourceStatement
 [^{:type String
    :optional true}
  sid

  ^{:type String
    :cardinality [0 n]}
  actionIds

  ^{:type Effect}
  effect

  ^{:type ID
    :cardinality [0 n]}
  identities]


 ^{:implements Statement}
 IdentityStatement
 [^{:type String
    :optional true}
  sid

  ^{:type String
    :cardinality [0 n]}
  actionIds

  ^{:type Effect}
  effect

  ^{:type ID
    :cardinality [0 n]}
  resources]

 ^{:enum true}
 Effect
 [DENY ALLOW]

 ^{:enum true}
 Nature
 [IMPLICIT EXPLICIT]


 EvaluationResult
 [^{:type Effect}
  effect

  ^{:type Nature}
  nature]

 EvaluationManyResult
 [^{:type ID}
  drn

  ^{:type EvaluationResult}
  result]

 ServerMeta
 [^{:type String}
  environment-id

  ^{:type String}
  version]
 
 ]
