{:deps {:aliases [:cljs]}
 :builds {:lib
          {:target :node-library
           :output-dir "target/"
           :output-to "target/index.js"
           :exports {:connect saku.policy-store-client/connect
                     :disconnect saku.policy-store-client/disconnect
                     :serverMeta saku.policy-store-client/server-meta-js
                     :policies saku.policy-store-client/policies-js
                     :resourcePolicies saku.policy-store-client/resource-policies-js
                     :identityPolicies saku.policy-store-client/identity-policies-js
                     :upsertResourcePolicies saku.policy-store-client/upsert-resource-policies-js
                     :upsertIdentityPolicies saku.policy-store-client/upsert-identity-policies-js
                     :addIdentityStatements saku.policy-store-client/add-identity-statements-js
                     :addResourceStatements saku.policy-store-client/add-resource-statements-js
                     :retractStatements saku.policy-store-client/retract-statements-js
                     :retractPolicies saku.policy-store-client/retract-policies-js
                     :evaluateOne saku.policy-store-client/evaluate-one-js
                     :evaluateMany saku.policy-store-client/evaluate-many-js
                     :isPolicyDocument saku.policy-store-client/is-policy-document-js
                     :isResourcePolicy saku.policy-store-client/is-resource-policy-js
                     :isIdentityPolicy saku.policy-store-client/is-identity-policy-js}}}}
